

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>雪碧图生成工具</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
     
      <div class="row">
        <div class="mb-5"></div>
        <div class="col-md-8 offset-2">
            <div class="col-md-12 mb-3">
              <img src="{{url}}"   class="img-thumbnail">
            </div>

            <pre><code>{{css}}</code>
            </pre>
        </div>
      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2018 iamxz</p>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
 
  </body>
</html>
